#dark {
    float: right;
    color: #fff;
    margin-right: 8px;
    margin-left: 8px;
    font-weight: bold;
}

html.dark {
    background-color: #191919;
}

body.dark {
    filter: invert(90%);
}

body.dark:not(.theme-Rtmaterial) .icon {
    filter: invert(100%);
    color: #555 !important;
}

body.dark .badge,
body.dark img.gravatar,
body.dark .wiki img,
body.dark table.indicator.summary,
body.dark canvas.chartjs-render-monitor {
    filter: invert(100%);
}

body.dark table.list tr.overdue td.due_date,
body.dark div.issue.overdue .due-date .value {
    filter: invert(100%);
    color: lightcoral;
}

body.dark #sidebar a.selected {
    background-color: unset !important;
}

body.dark #header,
body.dark #top-menu {
    color: #555 !important;
    background-color: white !important;
}

body.dark #header,
body.dark #top-menu,
body.dark #login-form,
body.dark .nodata {
    background: unset !important;
}

body.dark #login-form {
    border: unset !important;
}

body.dark svg.icon-svg {
    stroke: #555 !important;
}

body.dark input {
    accent-color: #555 !important;
}


body.dark #header a,
body.dark #top-menu a,
body.dark #content h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark .wiki a,
body.dark .wiki a:link,
body.dark .wiki a:visited,
body.dark #main a.user {
    color: #555 !important;
}

body.dark input[type="submit"],
body.dark div.flash.notice,
body.dark table.list:not(.odd-even) tbody tr:nth-child(odd):hover,
body.dark .odd:hover,
body.dark #issue-changesets div.changeset:nth-child(odd):hover,
body.dark table.list:not(.odd-even) tbody tr:nth-child(even):hover,
body.dark .even:hover,
body.dark #issue-changesets div.changeset:nth-child(even):hover,
body.dark #main-menu .menu-children li a:hover,
body.dark .pagination ul.pages li.page:hover {
    background-color: darkgrey;
}

body.dark,
body.dark #main-menu,
body.dark #main-menu li a,
body.dark #main-menu li a.selected,
body.dark #main-menu li a:hover,
body.dark .nodata,
body.dark .warning,
body.dark #errorExplanation,
body.dark #flash_error,
body.dark a,
body.dark a:link,
body.dark a:visited,
body.dark a:hover,
body.dark a:focus,
body.dark div.flash.notice,
body.dark #main-menu .menu-children li a:hover {
    color: rgb(0, 0, 0);
}

body.dark #main-menu,
body.dark #main-menu li a.selected,
body.dark #main-menu li a:hover,
body.dark #main-menu li a.new-object {
    background: white;
}

body.dark #main-menu li a.selected,
body.dark #content .tabs ul li a.selected,
body.dark input[type="submit"],
body.dark input[type="submit"]:hover,
body.dark div.flash.notice,
body.dark .ui-widget-header,
body.dark #main-menu .menu-children {
    border-color: #78909c !important;
}

body.dark .pagination ul.pages li:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

body.dark .pagination ul.pages li {
    border: 1px solid #ddd;
}

body.dark .pagination ul.pages li.current {
    color: white;
    background-color: #ddd;
    border-color: #ddd;
}

body.dark.theme-Rtmaterial tr.priority-default td.priority {
    border-color: #AB47BC;
}

body.dark.theme-Rtmaterial tr.priority-lowest td.priority {
    border-color: #F57F17;
}

body.dark.theme-Rtmaterial tr.priority-highest td.priority {
    border-color: #29B6F6;
}

body.dark.theme-Rtmaterial tr.overdue td:first-child,
body.dark.theme-Rtmaterial #my-page tr.overdue td.id {
    border-left: 3px solid #29B6F6 !important;
}

@media (prefers-color-scheme: dark) {
    #dark {
        display: none;
    }

    html {
        background-color: #191919;
    }

    body {
        filter: invert(90%);
    }

    body:not(.theme-Rtmaterial) .icon {
        filter: invert(95%);
        color: #c7c1c1 !important;
    }


    body .flyout-menu {
        background-color: #ccc
    }

    body .badge,
    body img.gravatar,
    body .wiki img,
    body img.filecontent.image,
    body table.indicator.summary,
    body .attachments .images img,
    body canvas.chartjs-render-monitor {
        filter: invert(100%);
    }

    body table.list tr.overdue td.due_date,
    body div.issue.overdue .due-date .value {
        filter: invert(100%);
        color: lightcoral;
    }

    body #sidebar a.selected {
        color: #000;
    }

    body #header,
    body #top-menu,
    body #project-jump .drdn-trigger {
        color: #555;
        background-color: white;
    }

    body .diff_out,
    body .diff_in {
        filter: invert(1);
    }

    body #header a,
    body #top-menu a,
    body #content h1,
    body h2,
    body h3,
    body h4,
    body h5,
    body h6 {
        color: #000000 !important;
    }

    body #main a.user {
        color: #205D86;
    }

    body a.issue,
    body a.issue:link,
    body a.issue:visited,
    body div.wiki .wiki-page,
    body div.wiki .external {
        color: #000000;
        background-color: #cf009f4a;
    }

    div.wiki {
        color: #000000;
        line-height: 1.6;
        font-size: large;
}

    body .highlight {
        color: #000;
    }

    .issue .attribute .label {
        box-sizing: border-box;
        float: left;
        color: #001f87
    }

    .issue .attribute .value {
        color: #000000
    }

    body input[type="submit"],
    body div.flash.notice,
    body table.list:not(.odd-even) tbody tr:nth-child(odd):hover,
    body .odd:hover,
    body #issue-changesets div.changeset:nth-child(odd):hover,
    body table.list:not(.odd-even) tbody tr:nth-child(even):hover,
    body .even:hover,
    body #issue-changesets div.changeset:nth-child(even):hover,
    body #main-menu .menu-children li a:hover,
    body .pagination ul.pages li.page:hover {
        background-color: darkgrey;
    }

    body,
    body #main-menu,
    body #main-menu li a,
    body #main-menu li a.selected,
    body #main-menu li a:hover,
    body .nodata,
    body .warning,
    body #errorExplanation,
    body #flash_error,
    body a,
    body a:link,
    body a:visited,
    body a:hover,
    body a:focus,
    body div.flash.notice,
    body #main-menu .menu-children li a:hover {
        color: rgb(0, 0, 0);
    }

    body #main-menu,
    body #main-menu li a.selected,
    body #main-menu li a:hover,
    body #main-menu li a.new-object {
        background: white;
    }

    body #main-menu li a.selected,
    body #content .tabs ul li a.selected,
    body input[type="submit"],
    body input[type="submit"]:hover,
    body div.flash.notice,
    body .ui-widget-header,
    body #main-menu .menu-children {
        border-color: #78909c !important;
    }

    body input[type="date"] {
        color-scheme: dark;
    }

    body input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(100%);
    }

    body .pagination ul.pages li:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    body .pagination ul.pages li {
        border: 1px solid #ddd;
    }

    body .pagination ul.pages li.current {
        color: white;
        background-color: #ddd;
        border-color: #ddd;
    }

    p.buttons>a,
    .other-formats>span>a,
    #wiki_add_attachment>p>a,
    #content>.contextual>a,
    #content>.contextual>span:not(.drdn)>a,
    #query_form>.contextual>a,
    #query_form_with_buttons>.contextual>a {
        border-color: #eff0f4;
        background-color: #000000;
        color: #212136;
    }

    p.buttons>a:hover,
    p.buttons>a:focus,
    .other-formats>span>a:hover,
    .other-formats>span>a:focus,
    #wiki_add_attachment>p>a:hover,
    #wiki_add_attachment>p>a:focus,
    #content>.contextual>a:hover,
    #content>.contextual>a:focus,
    #content>.contextual>span:not(.drdn)>a:hover,
    #content>.contextual>span:not(.drdn)>a:focus,
    #query_form>.contextual>a:hover,
    #query_form>.contextual>a:focus,
    #query_form_with_buttons>.contextual>a:hover,
    #query_form_with_buttons>.contextual>a:focus {
        border-color: #e3e5ec;
        background-color: #131313;
        color: #212136;
        text-decoration: none
    }

    body select option,
    body select optgroup {
        color: #161616;
        background-color: #ffffff;
    }

    body #activity .issue a,
    body #activity .issue-note a,
    body #activity .issue-edit a,
    body #activity .issue-closed a,
    body #activity .wiki-page a,
    body #activity .news a,
    body #activity .attachment a,
    body #search-results dt a {
        color: #ccc;
    }

    body.theme-Rtmaterial tr.priority-default td.priority {
        border-color: #AB47BC;
    }

    body.theme-Rtmaterial tr.priority-lowest td.priority {
        border-color: #F57F17;
    }

    body.theme-Rtmaterial tr.priority-highest td.priority {
        border-color: #29B6F6;
    }

    body.theme-Rtmaterial tr.overdue td:first-child,
    body.theme-Rtmaterial #my-page tr.overdue td.id {
        border-left: 3px solid #29B6F6 !important;
    }

    tr.tracker-3 .id>a,
    tr.tracker-3 .issue_id>a,
    a.tracker-3.issue,
    a.tracker-3,
    .relations>span>a.tracker-3,
    .parent>a.tracker-3 {
        background-color: #7f7f7f;
        color: #fff;
    }

    tr.tracker-3 .id>a:hover,
    tr.tracker-3 .issue_id>a:hover,
    a.tracker-3.issue:hover,
    a.tracker-3:hover,
    .relations>span>a.tracker-3:hover,
    .parent>a.tracker-3:hover {
        background-color: #3b3b3b;
        color: #fff
    }

    form input[type=submit]+input {
        background-color: #a7a7a7;
        color: #ffffff;
        box-shadow: 0 1px 0 #8b8d8c
    }

    form input[type=submit]+input:hover,
    form input[type=submit]+input:focus {
        background-color: #808080;
        color: #ffffff;
    }

    p.other-formats {
        display: none;
    }

    table.progress td.closed {
        background-color: #fb66ff !important;
    }

    @media (prefers-color-scheme: dark) {
        .dark\:border-gray-700 {
            --tw-border-opacity: 1;
            border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
            background-color: #ffffff;
        }
    }
}
